### [Data Set: South Korea Visitors from Kaggle](https://www.kaggle.com/bappekim/south-korea-visitors)

1. nation: country of departure<br>
    nation은 출발한 국가이지, 방문객의 국적을 의미하지는 않는다. 하지만 이 분석에서는 이 nation을 방문객의 국적과 동일하다고 가정한다.

In [2]:
import pandas as pd

age_data=pd.read_csv('Enter_korea_by_age.csv')
gender_data=pd.read_csv('Enter_korea_by_gender.csv')
purpose_data=pd.read_csv('Enter_korea_by_purpose.csv')

In [8]:
age_data.head()

,date,nation,visitor,growth,share,age0-20,age21-30,age31-40,age41-50,age51-60,age61
0,2019-1,China,392814,28.737870,35.555117,36520,108591,103657,48574,40893,40998
1,2019-1,Japan,206526,23.606830,18.693468,18015,57921,34165,39811,33857,20330
2,2019-1,Taiwan,87954,16.003693,7.961057,18888,17927,18595,18862,8169,4566
3,2019-1,Hong Kong,35896,3.533212,3.249086,3890,11384,7400,5461,4629,2137
4,2019-1,Macao,2570,-12.376406,0.232621,223,1013,762,264,181,92

In [14]:
#date 목록 확인 결과, 2019년 1월부터 2020년 4월까지의 방문기록을 가지고 있음
#set(age_data['date'])

# 한국을 방문한 외국인들의 국가 집합 확인 : 총 60개 국가의 외국인들이 한국을 방문한 것을 확인함
nation=set(age_data['nation'])
print("한국을 방문한 외국인들의 국가 갯수: %d"%len(nation))

한국을 방문한 외국인들의 국가 갯수: 60

In [24]:
#2019년 1월부터 2020년 4월까지 나라별 방문객 총 인원 합산
nation_per_visitor={}
for i in list(nation):
    for j in range(len(age_data['nation'])):
        if age_data['nation'][j] in nation_per_visitor:
            nation_per_visitor[age_data['nation'][j]]+=age_data['visitor'][j]
        else:
            nation_per_visitor[age_data['nation'][j]]=age_data['visitor'][j]

result=pd.DataFrame(list(nation_per_visitor.items()),columns=['country','sum of visitor'])

#나라별 방문객이 많은 순서대로 테이블 재정렬
result.sort_values(by='sum of visitor',ascending=False,inplace=True)
result.reset_index(drop=True,inplace=True)
result.head()

     country  sum of visitor
0      China       397759080
1      Japan       221734860
2     Taiwan        85477740
3        USA        70243140
4  Hong Kong        46989540

In [4]:
gender_data.head()

     date     nation  visitor     growth      share    male  female  crewman
0  2019-1      China   392814  28.737870  35.555117  147511  231722    13581
1  2019-1      Japan   206526  23.606830  18.693468   75070  129029     2427
2  2019-1     Taiwan    87954  16.003693   7.961057   30805   56202      947
3  2019-1  Hong Kong    35896   3.533212   3.249086   12172   22729      995
4  2019-1      Macao     2570 -12.376406   0.232621     748    1787       35

In [26]:
if gender_data['visitor'][0]==gender_data['male'][0]+gender_data['female'][0]+gender_data['crewman'][0]:
    print('true')

true

In [5]:
purpose_data.head()

,date,nation,visitor,growth,share,tourism,business,official affairs,studying,others
0,2019-1,China,392814,28.737870,35.555117,320113,2993,138,8793,60777
1,2019-1,Japan,206526,23.606830,18.693468,198805,2233,127,785,4576
2,2019-1,Taiwan,87954,16.003693,7.961057,86393,74,22,180,1285
3,2019-1,Hong Kong,35896,3.533212,3.249086,34653,59,2,90,1092
4,2019-1,Macao,2570,-12.376406,0.232621,2506,2,0,17,45